---
import MainLayout from "../layouts/MainLayout.astro";
import parseFilename from "../utils/parseFilename";

const title = parseFilename(import.meta.url);
---

<MainLayout title={title}>
  <main>
    <h1>Shiny call-to-action button created using <span>@property</span></h1>
    <button>
      <span>Get unlimited access</span>
    </button>
  </main>
</MainLayout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

  @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @property --gradient-percent {
    syntax: "<percentage>";
    initial-value: 5%;
    inherits: false;
  }

  @property --gradient-shine {
    syntax: "<color>";
    initial-value: hsl(0, 0%, 100%);
    inherits: false;
  }

  :root {
    --color-highlight: hsl(229, 95%, 49%);
    --color-highlight-subtle: hsl(240, 100%, 76%);

    --color-background: hsl(0, 0%, 0%);
    --color-background-subtle: hsl(0, 4%, 10%);
  }

  button {
    --_shine-percent: 50%;
    --animation: rotate-gradient linear infinite;
    --animation-duration: 3s;
    --transition: 800ms cubic-bezier(0.25, 1, 0.5, 1);

    position: relative;
    overflow: hidden;
    font-family: inherit;
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    border: 0.0625rem solid transparent;
    cursor: pointer;
    box-shadow: inset 0 0 0 0.0625rem var(--color-background-subtle);
    transition: var(--transition);
    transition-property: --gradient-percent, --gradient-shine;
    background:
      linear-gradient(var(--color-background), var(--color-background)) padding-box,
      conic-gradient(
          from var(--gradient-angle),
          transparent calc(var(--_shine-percent) - var(--gradient-percent) * 2),
          var(--color-highlight) calc(var(--_shine-percent) - var(--gradient-percent)),
          var(--gradient-shine) var(--_shine-percent),
          var(--color-highlight) calc(var(--_shine-percent) + var(--gradient-percent)),
          transparent calc(var(--_shine-percent) + var(--gradient-percent) * 2)
        )
        border-box;

    &::after,
    &::before,
    span::before {
      content: "";
      position: absolute;
      inset: 50%;
      translate: -50% -50%;
      pointer-events: none;
    }

    &::after {
      --animation: shimmer linear infinite;
      --animation-duration: 3s;

      width: 100%;
      aspect-ratio: 1;
      opacity: 0.6;
      background: linear-gradient(-50deg, transparent, var(--color-highlight), transparent);
      mask-image: radial-gradient(circle at top, transparent 46%, black);
    }

    span {
      z-index: 1;
    }

    span::before {
      width: 100%;
      height: 100%;
      opacity: 0;
      box-shadow: inset 0 -1rem 2rem 0.2rem var(--color-highlight);
      transition: opacity var(--transition);
      animation: breathe linear infinite calc(var(--animation-duration) * 1.5);
    }

    &:is(:hover, :focus-visible) {
      --gradient-percent: 20%;
      --gradient-shine: var(--color-highlight-subtle);

      span::before {
        opacity: 1;
      }

      &,
      &::after,
      &::before {
        animation-play-state: running;
      }
    }

    &,
    &::after,
    &::before {
      animation:
        var(--animation) var(--animation-duration),
        var(--animation) calc(var(--animation-duration) * 2.5) reverse paused;
      animation-composition: add;
    }
  }

  /* Animations */
  @keyframes rotate-gradient {
    to {
      --gradient-angle: 360deg;
    }
  }

  @keyframes shimmer {
    from {
      rotate: -26deg;
    }
    to {
      rotate: 334deg;
    }
  }

  @keyframes breathe {
    from,
    to {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }
  }

  /* Other styles */
  body {
    --padding: 4rem;
    --max-width: 40ch;

    width: min(var(--max-width), 100% - var(--padding));
    margin-inline: auto;
    font-family: Inter, sans-serif;
    background-color: hsl(228, 71%, 3%);
    color: hsl(0, 0%, 100%);
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
  }

  main {
    text-align: center;
    padding-top: 25vh;
  }

  h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    line-height: 1.1;
    text-wrap: pretty;
    margin-bottom: 2em;

    & > span {
      text-decoration: underline 0.08em wavy var(--color-highlight);
      text-underline-offset: clamp(0.5rem, 0.2rem + 1vw, 0.8rem);
      color: var(--color-highlight);
    }
  }
</style>
