<a href="/" tabindex="0">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="2.5"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"
    >
      <title>Go to home page</title>
    </path>
  </svg>
</a>

<style>
  a {
    position: fixed;
    inset-inline-start: 0.6rem;
    inset-block-start: 0.6rem;
    padding-inline: 0.2rem;
    outline: none;
    border: 0.2rem solid transparent;
    border-radius: 0.8rem;
    text-decoration: none;
    color: var(--color-primary);
    transition: transform 160ms ease-in-out;

    &:focus-visible {
      border-color: hsla(var(--color-primary-hsl), 0.3);
    }

    &:hover,
    &:focus-visible {
      transform: scale(1.1);
    }

    & svg {
      width: 1.6rem;
      vertical-align: text-bottom;
    }
  }
</style>
