---
import HomePageButton from "../components/HomePageButton.astro";

type Props = {
  title?: string;
};

const { title } = Astro.props;
const projectTitle = "CSS Sandbox";
const isHomePage = Astro.url.pathname === "/";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | ${projectTitle}` : projectTitle}</title>
  </head>
  <body>
    <slot />
    {!isHomePage && <HomePageButton />}
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    color: #f4f4f4;
    background-color: #101113;
  }
</style>
